*{margin: 0;padding: 0;}
.thanhmenu{
    background-color: red;
    width: 100%;
    height: 40px;
    line-height: 40px;
   
}
li{
    list-style: none;
}
.thanhmenu > ul{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.thanhmenu > ul > li{
    padding-left: 10px;
}
.item{
    position: relative;
    width: 100px;
    height: 40px;
    /* background-color: blue; */
    font-size: 25px;
} 
.item .layer1{
    text-decoration: none;
    color : black;
} 
.item:hover .layer1{} 
.item .layer2{
    position: absolute;
    top : 100px;
    left: 0px;
    background : rgb(238, 235, 235);
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    border : 1px solid rgb(226, 222, 222);
} 
.item:hover .layer2{
    position: absolute;
    top : 40px;
    left: 0px;
    opacity: 1;
    visibility: visible;

} 
.item .layer2 ul{} 
.item .layer2 ul li{
    padding-top: 10px;
    border: 1px solid gray;
    text-align: center;
} 
.item .layer2 ul li:hover{
    background-color: rgb(87, 85, 85);
}
.item .layer2 ul li a{
    text-decoration: none;
    font-size: 25px;
    color : black;
    
} 
