*{
    margin : 0px;
    padding: 0px;
}
.to{
    width: 400px;
    height: 300px;
    position: relative;
    perspective: 500px;

}
.nho img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 300px;
    transition: 0.6s;
    
}
.to:hover .nho img{
    transform: rotateZ(360deg);
}
