.menu{ 
    width: 100%;
    height: 34px;
    background-color: brown;
}
.menu ul{
    width: 1000px;
    text-align: center;
    list-style: none;
    margin-left : auto;
    margin-right: auto;
  

}
.menu ul li{
    display: inline-flex;
}

.menu ul li a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 6px 4px 9px 4px;
    font-size: 16px;
    transition: 0.4s;
}
.menu ul li a:hover{
    background-color: rgb(53, 2, 2);
}